<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>apiKey</key>
	<string>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</string>
	<key>organizationId</key>
	<string>org-aYEac6Um5I6v3k3t8Uh2StwS</string>
</dict>
</plist>
